
$spacer_height: 50px;
$presentation_font_size: 8rem;


body {
  padding-top: 54px;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.spacer {
  margin:0;
  padding:0;
  height: $spacer_height;
}

.presentation {
  font-size: $presentation_font_size;
}